<div class="container-fluid">
    <div class=" pt-5 ">
        <div class="row text-md-center px-3 px-sm-0 pb-5">
            <div class="col-5 col-sm-4 col-md-12 ">
                <img src="/assets/images/auth/login.jpg" style="border-radius: 50%; width: 90px; height: 90px; "
                    class="  img-fluid" alt="...">
            </div>
            <div class="col-7 col-sm-5 col-md-12 ">
                <div class="card-body mt-3 d-flex d-md-block">
                    <h5 class="p-2 pt-3 pb-1 p-lg-0 ">Denise</h5>
                    <h5 class="pt-3 pb-1 p-lg-0 pb-lg-0 d-flex d-md-none">Guacci</h5>
                    <p class="d-none d-md-block">Guacci</p>
                </div>
            </div>
            <div class="col-sm-5"></div>
        </div>

        <div class="pt-2">
            <ul class="list-group list-group-flush text-nowrap">
                <li class="list-group-item mt-1 mb-1"><i class="fa-solid fa-gauge"></i> Dashboard</li>
                <li class="list-group-item mt-1 mb-1"><i class="fa-solid fa-money-bill-transfer"></i> Transazioni</li>
                <li class="list-group-item mt-1 mb-1"><i class="fa-solid fa-rectangle-list"></i> Riepilogo</li>
                <li class="list-group-item mt-1 mb-1" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>
                    Logout</li>
            </ul>

        </div>


    </div>
</div>